body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
}

body {
    text-transform: capitalize;
}

:root {
    --peru: #cd9452;
    --black: #222;
    --white: #fff;
    --light-black: #666;
    --light-white: #ccc;
    --dark-bd: rgba(0, 0, 0, 0.7);
    --border: 1rem solid #aaa;
    --box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.footer {
    padding: 32px;
    margin-top: 32px;
    text-align: center;
    background-color: aliceblue;
}

.footer .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .icons-container .icons {
    text-align: center;
    padding: 3rem 2rem;
}

.footer .icons-container .icons {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: var(--peru);
    margin-bottom: 0.5rem;
    line-height: 5.8rem;
    font-size: 2rem;
}

.footer .icons-container .icons h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .icons-container .icons p {
    line-height: 1.5;
    font-size: 1.7rem;
    color: var(--light-black);
    text-transform: none;
}

.footer .share {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .share a {
    text-decoration: none;
    height: 5rem;
    width: 5rem;
    line-height: 5.8rem;
    color: var(--white);
    background: var(--black);
    margin: 0 0.3rem;
    font-size: 2rem;
    text-align: center;
}

.footer .share a:hover {
    background: var(--peru);
}

.footer .credit {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 1rem;
    color: var(--light-black);
}

.email p {
    text-transform: none;
    /* background: var(--black); */
}

.footer .credit span {
    color: var(--peru);
}

.fab {
    height: 3rem;
}

.container {
    padding: 50px;
    background-color: lightblue;
    /* background: url(img.jpg);
  background-size: cover; */
}

nav {
    background-color: antiquewhite;
    position: fixed;
    margin-bottom: 32px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
textarea,
.state {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f13d;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
    background-color: #ffff80;
    outline: none;
}

div {
    padding: 10px 0;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.btn {
    text-decoration: none;
    width: 100%;
}